body {
    max-width: 1000px;
    margin: auto;
}

#content {
    margin: 30px;
}

table td, table th, table tr {
    text-align: unset;
}

table {
    width: 100%;
}

.criteria-cell {
    white-space: break-spaces;
    width:100%;
}

.status {
    text-align: center;
    width: 180px;
}

.status-na {
    color: #757575;
    text-decoration: line-through;
}

.category-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px;
}

.category-title {
    font-size: larger;
    flex-grow: 100;
}

@media print {
    .noprint {
        display: none;
    }
}

.score {
    display: inline-flex;
    gap: 8px;
}

.progressbar {
    height: 16px;
    width: 100px;
    background-color: #fff;
    padding : 2px;
    border: 1px solid gray;
}

.progress {
    height: 100%;
    background-color: green;
}

#filterbar {
    margin-bottom: 0rem;
}

#filterbar ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#topbar {
    margin-bottom: 0rem;
    justify-content: flex-end;
}

#topbar ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

button {
    padding: 0.5rem 1rem;
}

button.status-na {
    background-color: #757575;
    color: #fff;
    text-decoration: none;
    border: none;
}

button.status-ok {
    background-color: #56823A;
    color: #fff;
    text-decoration: none;
    border: none;
}

button.status-ko {
    background-color: #dc2d44;
    color: #fff;
    text-decoration: none;
    border: none;
}

button.status-wip {
    background-color: #946A00;
    color: #fff;
    text-decoration: none;
    border: none;
}

.active {
    opacity: 100%;
}
.inactive {
    opacity: 20%;
}

.filter-button {
    border: none;
}

#filter-ok {
    background-color: #56823A;
}

#filter-wip {
    background-color: #946A00;
}

#filter-na {
    background-color: #757575;
}