body {
    max-width: 1000px;
    margin: auto;
}

#content {
    margin: 30px;
}

table td, table th, table tr {
    text-align: unset;
}

.criteria-cell {
    white-space: break-spaces;
}

.status {
    text-align: end;
}

.status-na {
    color: gray;
    text-decoration: line-through;
}

.category-header {
    background-color: darkblue;
}

@media print {
    .noprint {
        display: none;
    }
}

.score {
    display: inline-flex;
    gap: 8px;
}

.progressbar {
    height: 16px;
    width: 100px;
    background-color: #fff;
    padding : 2px;
    border: 1px solid gray;
}

.progress {
    height: 100%;
    background-color: green;
}